body{

background: #000;
margin-left: 0;




}
#fuera{
  display: none;
}
.menuresponsive2{
  display: none;
}
.menuresponsive{
  display: none;
}
.encabezado
{
    position: fixed;
   top: 0px;  
    width: 100%;
  height: 100px;
  background: #ffd700;
  z-index: 100;
}

.encabezado a{

  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
  color: #E1422C;
  font-size: 30px;
  position: relative;
  top: 20px;
  left: 10px;
  margin: 20px;
  text-decoration: none;

}


.encabezado img
{
    
    float: left;
  width: 400px;
  height: 100px;
  object-fit: cover;
}


.bienvenidos{
    
    position: relative;
    top: 60px;
    left: 290px;
  width: 37%;
  height: 150px;
  
  font-family: 'Josefin Sans', sans-serif;
  color: #E1422C;
  font-size: 40px;

  border-bottom: solid #E1422C 2px;
}

.bienvenidos h1
{
  position: relative;
  top: 50px;
  left: 50px;
  flex-wrap: wrap;
}

.portada2{
    

    display: flex;
    position: relative;
    left: 130px;
    top:  90px;
  width: 300px;
  height: 400px;
    


}

.portada2 img{
  

  margin: 10px ;
  position: relative;
  right: 20px;
  width: 300px;
  height: 400px;

  object-fit: cover;
  }

.contactos{
    
    position: fixed;
  font-family: 'Josefin Sans', sans-serif;
  color: #E1422C;
  width: 300px;
  height: 200px;
  
  margin-left: 1500px; 
  margin-top: 5px;
  font-size: 30px;
  z-index: 100;
}

.contactos img {

  width: 60px;
  height: 60px;
}

.contactos p{

  position: relative;
  left: 70px;
  bottom: 80px;
}


.contactos h1 {
  position: relative;
  top: 50px;


}   

.contactos a{
  position: relative;
  bottom: 100px;
}

.face{

  position: relative;
  bottom: 80px;
}




.promociones{
    
    display: flex;
    position: relative;
    top: 150px;
    right: 200px;
     

    width: 800px;
    height: 800px;
  
     
}

 .promociones3 {
  display: none;
 }

.h1-promo
{
  text-align: center;
  padding: 30px;
   width: 1300px;
   display: block;
   top: 260px;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 85px;
   position: relative;
   color: #E1422C;
   left: 50px;

}

.promociones img
  {
   position: relative;  
  
   top: 150px;  
   left: 250px;
   margin: 10px;
   width: 600px;
   height: 650px;

  
  object-fit: cover;
  }
.imagen3{

  display: none;
}
.nosotros{

   width: 70%;
   height: 300px;
   border-top: solid #E1422C 5px;
   margin-top: 12%;
   margin-left: 5%;

}

.nosotros h1{
  

  color: #E1422C; 
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  position: relative;
  top: 30px;
}

.nosotros p{
   
 
   padding-top: 30px;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 30px;
   position: relative;
   color: #ffd700;

}

.nosotros img{

  float: left;

  width: 200px;
  height: 200px;
}



.menu{
  
  width: 100%;
  height: 1300px;
  display: flex;
  position: relative;
  top: 100px;
 
 
 
   
}
.menu h1{

  font-family: 'Josefin Sans', sans-serif;
color: #E1422C; 
position: relative;
left: 39%;
font-size: 100px;
z-index: 50
}
.menu p{


width: 35%;

font-family: 'Josefin Sans', sans-serif;
color: #E1422C; 
position: relative;
top: 200px;
right:  13%;
bottom: 50px;
font-size: 80px;


}
.clasica{
  margin: 15px;
  position: relative;
  top: 400px;
  right: 900px;
  width: 500px;
  height: 700px;
 
 }
.clasica img{
  position: relative;
  left: 100px;
  width: 300px;
  height: 300px;
}
.clasica p{
   position: relative;
   
   left: 100px;
   top: 0;
   font-size: 20px; 
   color: #ffd700; 
}
.clasica h1{
  position: relative;

  font-size: 40px;
  color: #064061;

}
.fungi{
  margin: 15px;
  position: relative;
  top: 400px;
  right: 900px;
  width: 500px;
  height: 700px;
 
 }
.fungi img{
  position: relative;
  left: 100px;
  width: 300px;
  height: 300px;
}
.fungi p{
   position: relative;
   
   left: 100px;
   top: 0;
   font-size: 20px; 
   color: #ffd700; 
}
.fungi h1{
  position: relative;
  
  font-size: 40px;
  color: #064061;

}

.bacon{
  margin: 15px;
  position: relative;
  top: 400px;
  right: 900px;
  width: 500px;
  height: 700px;

 }
.bacon img{
  position: relative;
  left: 100px;
  width: 300px;
  height: 300px;
}
.bacon p{
   position: relative;
   
   left: 100px;
   top: 0;
   font-size: 20px; 
   color: #ffd700; 
}
.bacon h1{
  position: relative;
  
  font-size: 40px;
  color: #064061;

}
.queso{
  margin: 15px;
  position: relative;
  top: 400px;
  right: 900px;
  width: 500px;
  height: 700px;
 
 }
.queso img{
  position: relative;
  left: 100px;
  width: 300px;
  height: 300px;
}
.queso p{
   position: relative;
   
   left: 100px;
   top: 0;
   font-size: 20px; 
   color: #ffd700; 
}
.queso h1{
  position: relative;
  
  font-size: 40px;
  color: #064061;

}
.menu2{
  
  width: 100%;
  height: 1300px;
  display: flex;
  position: absolute;
  border:  10%;
  
}
.bone{
  margin: 15px;
  position: relative;
  
  right:   50px;
  bottom: 150px;
  width: 500px;
  height: 700px;
 
 }
.bone img{
  position: relative;
  left: 100px;
  width: 300px;
  height: 300px;
}
.bone p{
   position: relative;
   
   left: 100px;
   top: 0;
   font-size: 20px; 
   color: #ffd700; 
}
.bone h1{
  position: relative;
  left: 100px;
  font-size: 40px;
  color: #064061;

}

.mar{
  margin: 15px;
  position: relative;
  
  right:   150px;
  bottom: 150px;
  width: 500px;
  height: 700px;
 
 }
.mar img{
  position: relative;
  left: 100px;
  width: 300px;
  height: 300px;
}
.mar p{
   position: relative;
   
   left: 100px;
   top: 0;
   font-size: 20px; 
   color: #ffd700; 
}
.mar h1{
  position: relative;
  left: 100px;
  font-size: 40px;
  color: #064061;

}

.bonele{
  margin: 15px;
  position: relative;
  
  right:   200px;
  bottom: 150px;
  width: 500px;
  height: 700px;
 
 }
.bonele img{
  position: relative;
  left: 100px;
  width: 300px;
  height: 300px;
}
.bonele p{
   position: relative;
   
   left: 100px;
   top: 0;
   font-size: 20px; 
   color: #ffd700; 
}
.bonele h1{
  position: relative;
  left: 100px;
  font-size: 70px;
  color: #E1422C;

}
.entrada{
  margin: 15px;
  position: relative;
  
  right:   1400px;
  top: 420px;
  width: 500px;
  height: 700px;
}
.entrada h1{
  position: relative;
  left: 100px;
  font-size: 70px;
  color: #E1422C;

}
.entrada p{
   position: relative;
   
   left: 100px;
   top: 0;
   font-size: 20px; 
   color: #ffd700; 
}
.mapa{
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  top: 1200px;
  margin: 60px;
}
.mapa h1{
  padding: 20px;
   width: 950px;
   border-top:solid #E1422C 5px; 
   font-family: 'Josefin Sans', sans-serif;
   font-size: 35px;
   position: relative;
   color: #E1422C;
  
   
}



@media only screen and (max-width: 1100px) {
.contactos{
  display: none;
}

#exit{
  display: none;
}
#fuera{
  display: block;
}
.menuresponsive{
position: relative;
top: 10000px;
width: 1200px;
height: 5300px;

display: flex;
}
.menuresponsive h1{
  position: relative;
  left: 30%;
  bottom: 50px;
  color: #E1422C;
  font-size: 150px;
}
.menuresponsive h2{
   color: #E1422C;
   margin-top: 250px;
   position: relative;
   right: 200px;
  font-size: 100px;
}
.burgerm{
 position: relative;
 top: 400px;
 right: 1050px; 
 width: 1000px;
 height: 700px;
 


} 
.burgerm img{
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 100px;
  object-fit: cover;
}
.burgerm p{
  font-size: 50px;
  color: #ffd700;
}
.burgerm h1{
  position: relative;
  left: 0;
  font-size: 120px;
  position: relative;

  color: #064
}
.fungim{
 padding-left: 50px; 
 position: relative;
 top: 400px;
 right: 800px; 
 width: 1300px;
 height: 700px;
 


} 
.fungim img{
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 100px;
  object-fit: cover;
}
.fungim p{
  font-size: 50px;
  color: #ffd700;
}
.fungim h1{
  position: relative;
  left: 0;
  font-size: 120px;
  position: relative;

  color: #064
}
.queso2{

 position: relative;
 top: 2000px;
 right: 1800px;
  
 width: 1300px;
 height: 700px;
 


} 
.queso2 img{
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 100px;
  object-fit: cover;
}
.queso2 p{
  font-size: 50px;
  color: #ffd700;
}
.queso2 h1{
  position: relative;
  left: 0;
  font-size: 120px;
  position: relative;

  color: #064
}

.bone2{

 position: relative;
 top: 2100px;
 right: 1800px;
 padding-left: 50px; 
 width: 500px;
 height: 700px;
 


} 
.bone2 img{
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 100px;
  object-fit: cover;
}
.bone2 p{
  font-size: 50px;
  color: #ffd700;
}
.bone2 h1{
  position: relative;
  left: 0;
  font-size: 100px;
  position: relative;

  color: #064
}

.menu{
  display: none;
}
.menu2{
  display: none;
}
.promociones{
  display: block;
  position: relative;
  left: 80px;
 
 
  top: 2000px;

}
.h1-promo{
position: relative;
top: 2000px;
 width: 1000px;
 border: none;
 font-size: 120px;
}
.promociones img
  {
  position: relative;

  left: 1px;
  width: 140%;
  height:1700px;
  }
.nosotros{
  position: relative;
  top: 7000px;
  border: none;

}
.nosotros p{
  font-size: 100px;
  display: inline;
}
.nosotros h1{
display: none;
}
.nosotros img{
  width: 1000px;
  height: 1000px;
  float: none;
}
.mapa{
  display: none;
}
.encabezado
{
    position: fixed;
   top: 0px;  
    width: 100%;
  height: 300px;
  background: #ffd700;
  z-index: 100;
}

.encabezado a{

  position: relative;
  right: 50px;
  font-size: 50px;
  display: block;
}


.encabezado img
{
    
    float: left;
  width: 800px;
  height: 300px;
  object-fit: cover;
}
.bienvenidos{
    
    position: relative;
    top: 190px;
    left: 0px;
  width: 37%;
  height: 150px;
  
  font-family: 'Josefin Sans', sans-serif;
  color: #E1422C;
  font-size: 77px;

  border-bottom: none;
}

.bienvenidos h1
{
  position: relative;
  top: 150px;
  left: 50px;
  flex-wrap: wrap;
}
.portada2{
    

    display: flex;
    position: relative;
    left: 0px;
    top:  340px;
  width: 300px;
  height: 100px;
    


}

.portada2 img{
  

  margin: 10px ;
  position: relative;
  right: 20px;
  width: 300px;
  height: 1500px;

  object-fit: cover;
  }
