body{

background: #000;
    

}


.encabezado
{
    position: fixed;
   top: 0px;  
    width: 100%;
	height: 100px;
	background: #ffd700;
	z-index: 100;
}

.encabezado a{

	display: inline-block;
	font-family: 'Josefin Sans', sans-serif;
	color: #E1422C;
	font-size: 30px;
	position: relative;
	top: 20px;
	left: 50px;
	margin: 20px;
	text-decoration: none;

}


.encabezado img
{
    
   	float: left;
	width: 400px;
	height: 100px;
	object-fit: cover;
}


.bienvenidos{
    
    position: relative;
    top: 60px;
    left: 290px;
	width: 37%;
	height: 150px;
	
	font-family: 'Josefin Sans', sans-serif;
	color: #E1422C;
	font-size: 40px;

	border-bottom: solid #E1422C 2px;
}

.bienvenidos h1
{
	position: relative;
	top: 50px;
	left: 50px;
	flex-wrap: wrap;
}

.portada2{
    

    display: flex;
    position: relative;
    left: 130px;
    top:  90px;
	width: 300px;
	height: 400px;
    


}

.portada2 img{
  

  margin: 10px ;
  position: relative;
  right: 20px;
  width: 300px;
  height: 400px;

  object-fit: cover;
  }

.contactos{
    
    position: fixed;
	font-family: 'Josefin Sans', sans-serif;
	color: #E1422C;
	width: 300px;
	height: 200px;
	
	margin-left: 1500px; 
	margin-top: 5px;
	font-size: 30px;
}

.contactos img {

	width: 60px;
	height: 60px;
}

.contactos p{

  position: relative;
  left: 70px;
  bottom: 80px;
}


.contactos h1 {
  position: relative;
  top: 50px;


}   

.contactos a{
	position: relative;
	bottom: 100px;
}

.face{

	position: relative;
	bottom: 80px;
}




.promociones{
    
    display: flex;
    position: relative;
    top: 150px;
    left: 100px;
     
	border-top: solid  #E1422C 5px; 
    width: 70%;
    height: 800px;
  
     
}


.h1-promo
{
   display: block;
   top: 260px;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 35px;
   position: relative;
   color: #E1422C;
   left: 250px;

}

.promociones img
  {
   position: relative;	
   display: inline-block;
   top: 150px;	
   right: 50px;
   margin: 10px;
   width: 600px;
   height: 650px;

  
  object-fit: cover;
  }

.nosotros{

   width: 70%;
   height: 300px;
   border-top: solid #E1422C 5px;
   margin-top: 12%;
   margin-left: 5%;

}

.nosotros h1{
  

  color: #E1422C; 
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  position: relative;
  top: 30px;
}

.nosotros p{
   
 
   padding-top: 30px;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 30px;
   position: relative;
   color: #ffd700;

}

.nosotros img{

	float: left;

	width: 200px;
	height: 200px;
}

.mapa {


 width: 1000px;
 height: 400px;
 position: relative;
 left: 100px;
 top: 30px;
 border-top: solid #E1422C 5px;
 

}
.mapa h1{
  color: #E1422C; 
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  position: relative;
  top: 30px;

}
.mapa h2{
  color: #E1422C; 
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  position: absolute;
  left: 0;

}
.mapa img {

	position: relative;
	left: 10px;
	top: 70px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}












@media only screen and (max-width: 1000px) {


.encabezado
{
    position: fixed;
   top: 0px;  
   margin-left: 14%;
  width: 70%;
  height: 100px;
  background: #ffd700;
  z-index: 100;
}





.encabezado a{

display: none;
}
.bienvenidos{
    
    position: relative;
    top: 60px;
  left: 80px;
  width: 115%;
  height: 150px;
  
  font-family: 'Josefin Sans', sans-serif;
  color: #E1422C;
  font-size: 40px;

  border-bottom: solid #E1422C 7px;
}


.encabezado img
{
    
  position: relative;
  left: 25%;  
  width: 400px;
  height: 100px;
  object-fit: cover;
}

.bienvenidos h1
{
  position: relative;
  top: 20px;
  left: 1px;
  flex-wrap: wrap;
  font-size: 150px;
}

.portada2{
    

    
    position: relative;
    left: 80px;
    top:  90px;
  width: 400px;
  height: 400px;
    


}
.quitar{
  display: none;
}
.portada2 img{
  

  margin: 10px ;
  position: relative;
  right: 75px;
  width: 410px;
  height: 1200px;

  object-fit: cover;
  }


.promociones{
    
    
    position: relative;
    top: 1000px;
    left: 260px;
     
  border-top: solid  #E1422C 5px; 
    width: 70%;
    height: 800px;
  
     
}


.h1-promo
{
   display: none;
   
}

.promociones img
  {
 display: none;
}
.nosotros{

   width: 70%;
   height: 300px;
   border-top: solid #E1422C 5px;
   margin-top: 100%;
   margin-left: 5%;

}

.nosotros h1{
  

  color: #E1422C; 
  font-family: 'Josefin Sans', sans-serif;
  font-size: 90px;
  position: relative;
  top: 30px;
}

.nosotros p{
   
 
   padding-top: 30px;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 50px;
   position: relative;
   color: #ffd700;

}


.mapa {


 width: 700px;
 height: 400px;
 position: relative;
 left: 100px;
 top: 900px;
 border-top: solid #E1422C 5px;
 

}
.mapa h1{
  color: #E1422C; 
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  position: relative;
  top: 30px;

}
.mapa h2{
  color: #E1422C; 
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  position: absolute;
  left: 0;

}
.mapa img {

  position: relative;
  left: 10px;
  top: 70px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


}
