body{

background: #000;
    

}


.encabezado
{
    position: fixed;
   top: 0px;  
    width: 100%;
  height: 100px;
  background: #ffd700;
  z-index: 100;
}

.encabezado a{

  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
  color: #E1422C;
  font-size: 30px;
  position: relative;
  top: 20px;
  left: 10px;
  margin: 20px;
  text-decoration: none;

}


.encabezado img
{
    
    float: left;
  width: 400px;
  height: 100px;
  object-fit: cover;
}


.bienvenidos{
    
    position: relative;
    top: 60px;
    left: 290px;
  width: 37%;
  height: 150px;
  
  font-family: 'Josefin Sans', sans-serif;
  color: #E1422C;
  font-size: 40px;

  border-bottom: solid #E1422C 2px;
}

.bienvenidos h1
{
  position: relative;
  top: 50px;
  left: 50px;
  flex-wrap: wrap;
}

.portada2{
    

    display: flex;
    position: relative;
    left: 130px;
    top:  90px;
  width: 300px;
  height: 400px;
    


}

.portada2 img{
  

  margin: 10px ;
  position: relative;
  right: 20px;
  width: 300px;
  height: 400px;

  object-fit: cover;
  }

.contactos{
    
    position: fixed;
  font-family: 'Josefin Sans', sans-serif;
  color: #E1422C;
  width: 300px;
  height: 200px;
  
  margin-left: 1500px; 
  margin-top: 5px;
  font-size: 30px;
  z-index: 100;
}

.contactos img {

  width: 60px;
  height: 60px;
}

.contactos p{

  position: relative;
  left: 70px;
  bottom: 80px;
}


.contactos h1 {
  position: relative;
  top: 50px;


}   

.contactos a{
  position: relative;
  bottom: 100px;
}

.face{

  position: relative;
  bottom: 80px;
}




.promociones{
    
    display: flex;
    position: relative;
    top: 150px;
    right: 200px;
     
  border-top: solid  #E1422C 5px; 
    width: 85%;
    height: 800px;
  
     
}

 .promociones3 {
  display: none;
 }

.h1-promo
{
   display: block;
   top: 260px;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 35px;
   position: relative;
   color: #E1422C;
   left: 250px;

}

.promociones img
  {
   position: relative;  
   display: inline-block;
   top: 150px;  
   right: 50px;
   margin: 10px;
   width: 600px;
   height: 650px;

  
  object-fit: cover;
  }
.imagen3{

  display: none;
}
.nosotros{

   width: 70%;
   height: 300px;
   border-top: solid #E1422C 5px;
   margin-top: 12%;
   margin-left: 5%;

}

.nosotros h1{
  

  color: #E1422C; 
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  position: relative;
  top: 30px;
}

.nosotros p{
   
 
   padding-top: 30px;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 30px;
   position: relative;
   color: #ffd700;

}

.nosotros img{

  float: left;

  width: 200px;
  height: 200px;
}



.menu{
  
  width: 100%;
  height: 1300px;
  display: flex;
  position: relative;
  top: 100px;
 
 
 
   
}
.menu h1{

  font-family: 'Josefin Sans', sans-serif;
color: #E1422C; 
position: relative;
left: 39%;
font-size: 100px;
z-index: 50
}
.menu p{


width: 35%;

font-family: 'Josefin Sans', sans-serif;
color: #E1422C; 
position: relative;
top: 200px;
right:  13%;
bottom: 50px;
font-size: 80px;


}
.clasica{
  margin: 15px;
  position: relative;
  top: 400px;
  right: 900px;
  width: 500px;
  height: 700px;
 
 }
.clasica img{
  position: relative;
  left: 100px;
  width: 300px;
  height: 300px;
}
.clasica p{
   position: relative;
   
   left: 100px;
   top: 0;
   font-size: 20px; 
   color: #ffd700; 
}
.clasica h1{
  position: relative;

  font-size: 40px;
  color: #064061;

}
.fungi{
  margin: 15px;
  position: relative;
  top: 400px;
  right: 900px;
  width: 500px;
  height: 700px;
 
 }
.fungi img{
  position: relative;
  left: 100px;
  width: 300px;
  height: 300px;
}
.fungi p{
   position: relative;
   
   left: 100px;
   top: 0;
   font-size: 20px; 
   color: #ffd700; 
}
.fungi h1{
  position: relative;
  
  font-size: 40px;
  color: #064061;

}

.bacon{
  margin: 15px;
  position: relative;
  top: 400px;
  right: 900px;
  width: 500px;
  height: 700px;

 }
.bacon img{
  position: relative;
  left: 100px;
  width: 300px;
  height: 300px;
}
.bacon p{
   position: relative;
   
   left: 100px;
   top: 0;
   font-size: 20px; 
   color: #ffd700; 
}
.bacon h1{
  position: relative;
  
  font-size: 40px;
  color: #064061;

}
.queso{
  margin: 15px;
  position: relative;
  top: 400px;
  right: 900px;
  width: 500px;
  height: 700px;
 
 }
.queso img{
  position: relative;
  left: 100px;
  width: 300px;
  height: 300px;
}
.queso p{
   position: relative;
   
   left: 100px;
   top: 0;
   font-size: 20px; 
   color: #ffd700; 
}
.queso h1{
  position: relative;
  
  font-size: 40px;
  color: #064061;

}
.menu2{
  
  width: 100%;
  height: 1300px;
  display: flex;
  position: absolute;
  border:  10%;
  
}
.bone{
  margin: 15px;
  position: relative;
  
  right:   50px;
  bottom: 150px;
  width: 500px;
  height: 700px;
 
 }
.bone img{
  position: relative;
  left: 100px;
  width: 300px;
  height: 300px;
}
.bone p{
   position: relative;
   
   left: 100px;
   top: 0;
   font-size: 20px; 
   color: #ffd700; 
}
.bone h1{
  position: relative;
  left: 100px;
  font-size: 40px;
  color: #064061;

}

.mar{
  margin: 15px;
  position: relative;
  
  right:   150px;
  bottom: 150px;
  width: 500px;
  height: 700px;
 
 }
.mar img{
  position: relative;
  left: 100px;
  width: 300px;
  height: 300px;
}
.mar p{
   position: relative;
   
   left: 100px;
   top: 0;
   font-size: 20px; 
   color: #ffd700; 
}
.mar h1{
  position: relative;
  left: 100px;
  font-size: 40px;
  color: #064061;

}

.bonele{
  margin: 15px;
  position: relative;
  
  right:   200px;
  bottom: 150px;
  width: 500px;
  height: 700px;
 
 }
.bonele img{
  position: relative;
  left: 100px;
  width: 300px;
  height: 300px;
}
.bonele p{
   position: relative;
   
   left: 100px;
   top: 0;
   font-size: 20px; 
   color: #ffd700; 
}
.bonele h1{
  position: relative;
  left: 100px;
  font-size: 70px;
  color: #E1422C;

}
.entrada{
  margin: 15px;
  position: relative;
  
  right:   1400px;
  top: 420px;
  width: 500px;
  height: 700px;
}
.entrada h1{
  position: relative;
  left: 100px;
  font-size: 70px;
  color: #E1422C;

}
.entrada p{
   position: relative;
   
   left: 100px;
   top: 0;
   font-size: 20px; 
   color: #ffd700; 
}
@media only screen and (max-width: 1200px) {


.encabezado
{
    position: fixed;
   top: 0px;  
   margin-left: 0%;
  width: 100%;
  height: 200px;
  background: #ffd700;
  z-index: 100;
}





.encabezado a{

display: none;
}
.bienvenidos{
    
    position: relative;
    top: 160px;
  left: 20%;
  width: 115%;
  height: 150px;
  
  font-family: 'Josefin Sans', sans-serif;
  color: #E1422C;
  font-size: 40px;

  border-bottom: solid #E1422C 17px;
}


.encabezado img
{
    
  position: absolute;
  left: 0%;  
  width: 700px;
  height: 200px;
 
}

.bienvenidos h1
{
  position: relative;
  top: 20px;
  left: 1px;
  flex-wrap: wrap;
  font-size: 150px;
}

.portada2{
    

    
    position: relative;
    left: 80px;
    top:  190px;
  width: 400px;
  height: 400px;
    


}

.portada2 img{
  

  margin: 10px ;
  position: relative;
  right: 75px;
  width: 310px;
  height: 1300px;

  
  }


.promociones{
    
    
    position: relative;
    top: 1100px;
    left: 50px;
     
    border-top: solid  #E1422C 15px; 
    width: 120%;
    height: 800px;
  
     
}


.h1-promo
{
    
   top: 1600px;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 95px;
   position: relative;
   color: #E1422C;
   left: 250px;
   
}

.promociones img
  {
display: none;

}

.promociones2 h1{
     display: block;
   top: 260px;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 35px;
   position: relative;
   color: #E1422C;
   left: 250px;

}

.promociones3 
 {
 
  display: inline-block;
  position: relative;
  left: 78px;
  top: 880px;
 }
.imagen2
{
  position: relative;
  top: 50px;
}
.imagen3
{
display: block;
position: relative;
top: 760px;
right: 187px;
margin: 250px;
width: 5000px;

}


.nosotros{

   width: 120%;
   height: 300px;
   border-top: solid #E1422C 15px;
   margin-top: 150%;
   margin-left: 5%;

}

.nosotros img{

  width: 800px;
  height: 800px;

}
.nosotros h1{
  

  color: #E1422C; 
  font-family: 'Josefin Sans', sans-serif;
  font-size: 110px;
  position: relative;
  top: 30px;
}

.nosotros p{
   
 
   
   font-family: 'Josefin Sans', sans-serif;
   font-size: 90px;
   position: relative;
   color: #ffd700;

}


.menu{
  
  width: 120%;
  height: 300px;
  
  position: relative;
  top: 1500px;
  border-top:  solid #E1422C 15px;
 
   
}
.menu h1{

  font-family: 'Josefin Sans', sans-serif;
color: #E1422C; 
position: relative;
left: 39%;
font-size: 150px;
z-index: 50;
bottom: 700px;

}



}